<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/register.css" />
  </head>

  <body>
    <div class="section">
      <div class="navbar">
        <div class="icon"></div>
        <h1>AGS</h1>
        <div class="menu">
          <ul>
            <li><a href="">ABOUT US</a></li>
          </ul>
        </div>
      </div>

      <div class="leftSide">
        <div class="side_bar">
          <h3>Menu:</h3>
          <ul>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="35"
                height="35"
                fill="currentColor"
                class="bi bi-arrow-through-heart-fill"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354zM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A24 24 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a9 9 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5z"
                />
              </svg>
              <a href="">Terms of Service</a>
            </li>
            <hr />
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="35"
                height="35"
                fill="currentColor"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
                />
              </svg>
              <a href="/login">Log in</a>
            </li>
            <hr />
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="35"
                height="35"
                fill="currentColor"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
                />
              </svg>
              <a href="/setting">Setting</a>
            </li>
          </ul>
          <div class="bell_icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-bell"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"
              />
            </svg>
            <h5>Notification</h5>
          </div>
        </div>
      </div>

      <div class="body">
        <section class="vh-100">
          <div class="container h-100">
            <div
              class="row d-flex justify-content-center align-items-center h-100"
            >
              <div class="col-lg-12 col-xl-11">
                <div class="card text-white bg-dark rounded-3 shadow-lg">
                  <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                      <div
                        class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1"
                      >

                        <p
                          class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"
                        >Sign up</p>

                        <form
                          class="mx-1 mx-md-4"
                          enctype="multipart/form-data"
                          action="/register"
                          method="POST"
                        >

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input
                                type="text"
                                id="FirstName"
                                class="form-control"
                                name="FirstName"
                              />
                              <label class="form-label" for="FirstName">First
                                Name</label>
                            </div>
                          </div>

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input
                                name="Email"
                                type="email"
                                id="Email"
                                class="form-control"
                              />
                              <label class="form-label" for="Email">Your Email</label>
                            </div>
                          </div>

                          {{#if msg}}
                            <p class="alert alert-danger" role="alert">
                              {{msg}}
                            </p>
                          {{/if}}

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input
                                type="text"
                                id="LastName"
                                class="form-control"
                                name="LastName"
                              />
                              <label class="form-label" for="LastName">Last Name</label>
                            </div>
                          </div>

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i
                              class="fas fa-map-marker-alt fa-lg me-3 fa-fw"
                            ></i>
                            <div class="form-outline flex-fill mb-0">
                              <input
                                type="text"
                                id="Address"
                                class="form-control"
                                name="Address"
                              />
                              <label
                                class="form-label"
                                for="Address"
                              >Address</label>
                            </div>
                          </div>

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input
                                type="text"
                                id="PhoneNumber"
                                class="form-control"
                                name="PhoneNumber"
                              />
                              <label class="form-label" for="PhoneNumber">Phone
                                Number</label>
                            </div>
                          </div>

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-image fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input
                                type="file"
                                id="Image"
                                class="form-control"
                                accept="image/*"
                                name="Image"
                              />
                              <label class="form-label" for="Image">Upload Image</label>
                            </div>
                          </div>

                          <div
                            class="form-check d-flex justify-content-center mb-5"
                          >
                            <input
                              class="form-check-input me-2"
                              type="checkbox"
                              value=""
                              id="termsCheck"
                            />
                            <label class="form-check-label" for="termsCheck">
                              I agree all statements in
                              <a href="#!">Terms of service</a>
                            </label>
                          </div>

                          <div
                            class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                          >
                            <button
                              type="submit"
                              class="btn btn-primary btn-lg"
                            >Register</button>
                          </div>
                        </form>
                      </div>
                      <div
                        class="col-md-10 col-lg-6 col-xl-7 d-flex order-1 order-lg-2"
                      >

                        <img
                          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                          class="img-fluid rounded-4"
                          alt="Sample image"
                        />

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="footer">
        <div class="par">
          <h6>CREATED BY: ADRIAN SANTIAGO</h6>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </body>

</html>